__pycache__/
.claude/
.idea/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.venv/
.venv-build/
.vscode/

bin/
build/
dist/
wheels/
!scripts/**/build/

sampletones
!src/sampletones
!tests/sampletones

src/sampletones_assets/icons/sampletones.ico
src/sampletones_assets/icons/sampletones.png

**/*.idea
**/*.vscode/**
**/*.ipynb_checkpoints/**
**/*__pycache__/**

*.pyc
*.pyo
*.coverage
*.coverage.*

*.ipynb

*.spec
*.fb
*.npy
*.lock
!uv.lock

*.json
*.log

*.wav
*.mp3
*.ogg
*.flac
*.aiff
*.au

*.dat
*.ins
*.stn
*.fti

*.exe
*.dll
*.so
