__pycache__/
.ipynb_checkpoints/
.mypy_cache/
.idea/
.vscode/
.github/

**/*.idea
**/*.vscode/**
**/*.ipynb_checkpoints/**
**/*__pycache__/**
*.ipynb
*.wav
*.json
*.txt
*.log
*.npy
*.dat
*.fti
*.lock

data/
output/

